mixin link(type, rel, href)
  if (!type)
    link(rel=rel, href=href)
  else
    link(type=type, rel=rel, href=href)

- var default_base = 'styles/'
- var type = 'text/css'
- var rel = 'stylesheet'

+link('', 'shortcut icon', '/favicon.ico')
+link('', rel, href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500,700')
+link(type, rel, default_base + 'vendor.min.css')
+link(type, rel, default_base + 'application.min.css')
+link(type, rel, default_base + 'lib.min.css')
+link('image/x-icon', 'shortcut icon', 'images/favicon.ico')
+link('image/x-icon', 'icon', 'images/favicon.ico')
