.login-wrap
  video(autoplay loop muted playsinline webkit-playsinline poster="../images/background.jpg")
    - var link = "../videos/background"

    each media_type in ['mp4', 'webm', 'ogv']
      source(src=link + ".#{media_type}" type="video/#{media_type}")

  .overlay
    a(href="/")
      span.logo sugg.
    h4
      | simpe. create. love it.
    div(
      class="mt++ sugg__login"
      flex-container="column"
      flex-align="center center")

      div(class="login-social-link")
        h4.signin
          | you can sign up via your social network
        ul
          each social_network in ['facebook', 'twitter', 'google']
            li
              button(
                class="btn btn--m btn--blue btn--raised #{social_network}"
                lx-ripple
                title="#{social_network}"
                ng-click="vm.Login('#{social_network}')")

                span.icon
                  if social_network === 'google'
                    i(class="fa fa-#{social_network}-plus")
                    p #{social_network}
                  else
                    i(class="fa fa-#{social_network}")
                    p #{social_network}