.sugg_navcontainer
  nav.bgc(ng-cloak)
    div
      a(href="/")
        span.logo sugg.

      .sugg-search
        lx-search-filter
          input(
            type="text"
            ng-model="vm.searchFilter.text"
            placeholder="Search"
            ng-change="vm.searchFilterChange(vm.searchFilter)")

      .sugg-profile-nav

        lx-dropdown(lx-position="right" lx-width="160" lx-offset="6")
          lx-dropdown-toggle
            lx-button(
              lx-type="fab"
              lx-size="m"
              lx-color="white")

              img(class="img-round"
                ng-src="{{ vm.currentUser.image_url || '../../images/default.jpg' }}"
                alt="{{ vm.currentUser.name }} Picture"
                lx-ripple
                title="{{ vm.currentUser.name }}")
          lx-dropdown-menu
            ul
              - var classes = ['dropdown-link', 'text']

              li.dropdown-link.dropdown-link--is-header.text-flex-center.no-pd
                span Signed in as <strong>{{ vm.currentUser.name | splitWord }}</strong>
              li.dropdown-divider
              li
                a(class=classes ui-sref="profile({ name: vm.currentUser.name, uid: vm.currentUser.$id })")
                  span Your Profile
              li
                a(class=classes ui-sref="notes")
                  span Your Notes
              li.dropdown-divider
              li
                a(class=classes ng-click="vm.Logout()")
                  span Sign out

div(ui-view="theView" class="view-connector")
