div.selected-notes-options(ng-show="vm.removeQueue.length" ng-mouseleave="multiNoteColors = false")
  div.toolbar.selected-notes-toolbar
    div(class="mr++ toolbar__left")
      lx-button(
        lx-size="m"
        lx-color="black"
        lx-type="icon"
        ng-click="vm.ClearMarked()")
        i.mdi.mdi-close

    span.toolbar__label.fs-title {{vm.removeQueue.length}} selected

    .colors(ng-class="{active: multiNoteColors}" ng-mouseleave="multiNoteColors = false" style="position: absolute; right: 100px;")
      .color(
        ng-repeat="multiNoteColor in vm.NoteColors"
        class="{{multiNoteColor}} color-{{$index}}"
        ng-click="vm.ColorMarkedNote(multiNoteColor)"
        title="{{multiNoteColor | capitalize : true}}")

    div.toolbar__right
      lx-button.mr8(
        lx-type="icon"
        lx-color="black"
        title="Change color"
        ng-click="multiNoteColors =! multiNoteColors")

        i.mdi.mdi-palette

      lx-button.mr8(
        lx-type="icon"
        lx-color="black"
        title="{{(vm.removeQueue.length > 1) ? 'Delete notes' : 'Delete note'}}"
        ng-click="vm.RemoveMarked()")

        i.mdi.mdi-delete


div.main-content
  .card.card-content(ng-mouseleave="Colors = false" class="{{vm.note.settings.color}}")
    div
      .toolbar.card.no-mr(ng-click="vm.show = true")
        input.sugg-input(type="text" ng-model="vm.note.title" placeholder="Take a note ...")

      .toolbar.no-pd(style="height: auto; max-height: 600px;" ng-show="vm.show" ng-init="vm.show = false; Colors = false" data-slide-toggle="vm.show" data-slide-toggle-duration="100")

        div.editor-wrap.note-container
          trix-editor.trix-content(
            angular-trix
            ng-model="vm.note.content"
            ng-model-options="{ updateOn: 'blur' }"
            spellcheck="false"
            trix-initialize="vm.trixInitialize(e, editor);"
            trix-change="vm.trixChange(e, editor);"
            trix-selection-change="vm.trixSelectionChange(e, editor);"
            trix-focus="vm.trixFocus(e, editor);"
            trix-blur="vm.trixBlur(e, editor);"
            trix-file-accept="vm.trixFileAccept(e, editor);"
            trix-attachment-add="vm.AttachmentAdd(e, editor);"
            trix-attachment-remove="vm.trixAttachmentRemove(e, editor);"
            prevent-trix-file-accept="false"
            placeholder="sugg!, do you?")

        lx-select(
          disabled
          ng-show="vm.ShowLabels"
          style="padding: 0.4em 1.4em 0;"
          ng-model="vm.labelChoices"
          lx-choices="vm.Labels"
          lx-display-filter="true"
          lx-helper-message="No label found. Type enter key to add a label."
          lx-label="Label note"
          lx-multiple="true"
          lx-view-mode="chips"
          lx-autocomplete="true"
          lx-allow-new-value="true"
          lx-new-value-transform="vm.transformNewLabel"
          ng-change="vm.LookupLabel(vm.labelChoices)")

          lx-select-selected {{ $selected.title }}
          lx-select-choices {{ $choice.title }}

    .colors(ng-class="{active: Colors}" ng-mouseleave="Colors = false")
      .color(
        ng-repeat="Color in vm.NoteColors"
        class="{{Color}} color-{{$index}}"
        ng-click="vm.note.settings.color = Color"
        ng-class="{active: vm.note.settings.color === Color}"
        lx-tooltip="{{Color | capitalize : true}}"
        lx-tooltip-position="bottom")

    .controls(ng-show="vm.show")
      lx-button.mr10(
        lx-type="icon"
        lx-color="black"
        title="Change color"
        ng-click="Colors =! Colors")

        i.mdi.mdi-palette

      lx-button.mr10(
        lx-type="icon"
        lx-color="black"
        title="Add Image"
        disabled)

        i.mdi.mdi-image

      lx-button.mr10(
        lx-type="icon"
        lx-color="black"
        title="Add Label"
        ng-click="vm.ShowLabels = !vm.ShowLabels"
        disabled)

        i.mdi.mdi-label

      lx-button.add-note(
        lx-type="flat"
        lx-color="black"
        lx-size="s"
        title="Add Note"
        ng-click="vm.Create(vm.note, vm.labelChoices)") Done


.sugg-notes.row-masonry(class="{{vm.View}}" masonry)
  div.col-masonry(style="position: relative;" ng-repeat="Note in vm.Notes | orderBy:'-metadata.updated' | filter: vm.Search")
    div.sugg-note-status(ng-show="Note.metadata.is_public")
      span
        a(title="Shared 'Public'"
          ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id)") Public

    .sugg-checkbox(class="{{(vm.isMarked && Note.Selected) ?'selected' :''}}")
      input(
        type="checkbox"
        class="checkbox"
        name="checkbox"
        ng-model="Note.Selected"
        id="{{Note.metadata.note_id}}"
        ng-change="vm.MarkNote(Note, Note.Selected); vm.isMarked = true")
      label.label--checkbox(for="{{Note.metadata.note_id}}")

    .box-placeholder.m0(
      class="{{Note.settings.color}}"
      ng-mouseleave="noteColors = false"
      ng-dblclick="vm.Edit(Note, false)")

      h3.text-muted
        strong(ng-bind-html="Note.metadata.title")
      h5.text-muted
        strong.italic(
          lx-tooltip="Created {{Note.metadata.created | date : 'MMM d, h:mm a'}}"
          lx-tooltip-position="bottom") Edited {{ Note.metadata.updated | date : 'MMM d, h:mm a' }}
      p(ng-text-truncate="Note.content"
        ng-tt-chars-threshold="755"
        ng-tt-more-label="show more"
        ng-tt-less-label="show less")

      .colors(ng-class="{active: noteColors}" ng-mouseleave="noteColors = false")
        .color(
          ng-repeat="noteColor in vm.NoteColors"
          class="{{noteColor}} color-{{$index}} {{((Note.settings.color == noteColor) == true) ?'active' :''}}"
          ng-click="vm.ChangeNoteColor(Note.metadata.note_id, Note.metadata.$id, noteColor); Note.settings.color = noteColor"
          title="{{noteColor | capitalize : true}}")

      .sugg-icons-container

        div(class="mt+" flex-container="row" flex-align="flex-start center")
          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Change color"
            ng-click="noteColors =! noteColors")

            i.mdi.mdi-palette

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="{{Note.metadata.is_public ? 'Disable' : 'Enable'}} Share"
            ng-click="vm.GetShareLink(Note, Note.metadata.is_public)")

            i.mdi(class="mdi-account-multiple-{{Note.metadata.is_public ? 'minus' : 'plus'}}")

          lx-dropdown(lx-position="left" lx-over-toggle="true" lx-width="130")
            lx-dropdown-toggle
              lx-button(
                lx-color="black"
                lx-type="icon"
                title="More")

                i.mdi.mdi-dots-vertical

            lx-dropdown-menu
              ul
                li(ng-hide="vm.CopyNotSupported"): a.dropdown-link(ng-click="vm.Copy(Note.content)") Copy to Clipboard
                li: a.dropdown-link Add Label
                li: a.dropdown-link(ng-click="vm.MakeCopy(Note)") Make a Copy
                li: a.dropdown-link(ng-click="vm.Edit(Note, false)") Edit note
                li: a.dropdown-link Archive note
                li: a.dropdown-link(ng-click="vm.Remove(Note.metadata.note_id, Note.metadata.$id)") Delete note


lx-dialog(id="{{ vm.dialogId }}" lx-size="m" class="{{vm.editNote.settings.color}}")
  lx-dialog-header
    div.toolbar(class="{{vm.editNote.settings.color}} dialog__header__content")
      h2(class="tc-black-1")
        strong(
          ng-bind-html="vm.editNote.metadata.title || 'note'"
          contenteditable="true"
          ng-model="vm.edited.title")

  lx-dialog-content
    div.editor-wrap.note-container(style="min-height:200px")
      trix-editor.trix-content(
        angular-trix
        ng-model="vm.edited.content"
        ng-model-options="{ updateOn: 'blur' }"
        spellcheck="false"
        trix-initialize="vm.initializeEdit(e, editor);"
        prevent-trix-file-accept = "true"
        class="tc-black-1 dialog__body__content {{vm.editNote.settings.color}}")

  lx-dialog-footer(class="{{vm.editNote.settings.color}}")
    h5.left.m10(class="tc-black-1")
      span.italic(
        lx-tooltip="Created {{vm.editNote.metadata.created | date : 'MMM d, h:mm a'}}"
        lx-tooltip-position="top") Edited {{ vm.editNote.metadata.updated | date : 'MMM d, h:mm a' }}

    lx-button(
      lx-color="black"
      lx-type="flat"
      lx-size="s"
      lx-dialog-close
      title="Save Note"
      ng-click="vm.Edit(vm.editNote, true, vm.edited)") Done