div.selected-notes-options(ng-show="vm.removeQueue.length" ng-mouseleave="multiNoteColors = false")
  div.toolbar.selected-notes-toolbar
    div(class="mr++ toolbar__left")
      lx-button(
        lx-size="l"
        lx-color="black"
        lx-type="icon"
        ng-click="vm.ClearMarked()"
      )
        i.mdi.mdi-close

    span.toolbar__label.fs-title {{ vm.removeQueue.length }} selected

    .colors(ng-class="{active: multiNoteColors}" ng-mouseleave="multiNoteColors = false" style="position: absolute; right: 100px; top: 10px;")
      .color(
        ng-repeat="multiNoteColor in vm.NoteColors"
        class="{{ multiNoteColor }} color-{{ $index }}"
        ng-click="vm.ColorMarkedNote(multiNoteColor)"
        title="{{ multiNoteColor | capitalize : true }}"
      )

    div.toolbar__right
      lx-button.mr8(
        lx-size="l"
        lx-type="icon"
        lx-color="black"
        title="Change color"
        ng-click="multiNoteColors =! multiNoteColors"
      )
        i.mdi.mdi-palette

      lx-button.mr8(
        lx-size="l"
        lx-type="icon"
        lx-color="black"
        title="{{ (vm.removeQueue.length > 1) ? 'Delete notes' : 'Delete note' }}"
        ng-click="vm.RemoveMarked()"
      )
        i.mdi.mdi-delete


div.main-content
  .card.card-content(ng-mouseleave="Colors = false")
    div
      .toolbar.card.no-mr(ng-click="vm.show = true")
        input.sugg-input(type="text" ng-model="vm.note.title" placeholder="Take a note ...")

      .toolbar.no-pd(style="height: auto; max-height: 600px;"
        ng-show="vm.show"
        ng-init="vm.show = false; Colors = false"
      )

        div.editor-wrap.note-container
          trix-editor.trix-content(
            angular-trix
            ng-model="vm.note.content"
            ng-model-options="{ updateOn: 'blur' }"
            spellcheck="false"
            trix-initialize="vm.trixInitialize(e, editor);"
            trix-change="vm.trixChange(e, editor);"
            trix-selection-change="vm.trixSelectionChange(e, editor);"
            trix-focus="vm.trixFocus(e, editor);"
            trix-blur="vm.trixBlur(e, editor);"
            trix-file-accept="vm.trixFileAccept(e, editor);"
            trix-attachment-add="vm.AttachmentAdd(e, editor);"
            trix-attachment-remove="vm.trixAttachmentRemove(e, editor);"
            prevent-trix-file-accept="false"
            placeholder="That's title above, add more here. . ."
          )

        lx-select(style="padding: 1em 1.4em 0;"
          ng-if="vm.initTags && vm.flags.tags"
          ng-model="vm.note.tags"
          lx-choices="vm.Tags"
          lx-display-filter="true"
          lx-helper-message="No tag found. Type enter key to add a tag."
          lx-label="Tag note"
          lx-multiple="true"
          lx-view-mode="chips"
          lx-autocomplete="true"
          lx-allow-new-value="true"
          lx-new-value-transform="vm.transformNewTag"
        )

          lx-select-selected {{ $selected.title }}
          lx-select-choices {{ $choice.title }}

    .colors(ng-class="{ active: Colors }" ng-mouseleave="Colors = false")
      .color(
        ng-repeat="Color in vm.NoteColors"
        class="{{ Color }} color-{{ $index }}"
        ng-click="vm.note.settings.color = Color"
        ng-class="{ active: vm.note.settings.color === Color }"
        title="{{ Color | capitalize : true }}"
      )

    .controls(ng-show="vm.show")
      lx-button.mr10(
        lx-type="icon"
        lx-color="black"
        title="Change color"
        ng-click="Colors =! Colors"
      )
        i.mdi.mdi-palette

      lx-button.mr10(
        lx-type="icon"
        lx-color="black"
        title="Add Image"
        ng-if="vm.flags.upload"
        disabled
      )
        i.mdi.mdi-image

      lx-button.mr10.add-tag(
        lx-type="icon"
        lx-color="black"
        title="Add Tag"
        ng-if="vm.flags.tags"
        ng-click="vm.initTags = !vm.initTags"
      )
        i.mdi.mdi-label

      lx-button.add-note(
        lx-type="flat"
        lx-color="black"
        lx-size="s"
        title="Add Note"
        ng-click="vm.Create(vm.note)"
      ) Done


.sugg-notes.row-masonry(class="{{ vm.View }}")
  div.col-masonry(style="position: relative;" ng-repeat="Note in vm.Notes | orderBy:'-metadata.updated' | filter: vm.Search")
    div.sugg-note-status(ng-if="Note.is_shared_with")
      span
        a(
          title="Shared 'Private' by {{ Note.sharer.name }} at {{ Note.props.shared_at | date : 'MMM d, h:mm a' }}"
        ) {{ Note.sharer.name | splitWord }} shared with you

    div.sugg-note-status(ng-if="(Note.metadata.share_with || Note.metadata.is_public) && !Note.is_shared_with")
      span
        a(ng-if="Note.metadata.share_with"
          title="Shared 'Private'"
          ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, true)"
        ) Only specific people can view

      span
        a(ng-if="Note.metadata.is_public"
          title="Shared 'Public'"
          ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, false)"
        ) Anyone with link can view

    .sugg-checkbox(class="{{ (vm.isMarked && Note.Selected) ?'selected' :'' }}" ng-if="!Note.is_shared_with")
      input(
        type="checkbox"
        class="checkbox"
        name="checkbox"
        ng-model="Note.Selected"
        id="{{ Note.metadata.note_id }}"
        ng-change="vm.MarkNote(Note, Note.Selected); vm.isMarked = true"
      )
      label.label--checkbox(for="{{ Note.metadata.note_id }}")

    .box-placeholder.m0(
      class="{{ Note.settings.color }}"
      ng-class="{ pt40: (Note.is_shared_with || Note.metadata.is_public || Note.metadata.share_with) && vm.isMobile }"
      ng-mouseleave="noteColors = false"
      ng-dblclick="!Note.is_shared_with && vm.Edit(Note, false)"
    )

      h3.text-muted
        strong(ng-bind-html="Note.metadata.title")
      h5.text-muted
        strong.italic(
          title="Created {{ Note.metadata.created | date : 'MMM d, h:mm a' }}") Edited {{ Note.metadata.updated | date : 'MMM d, h:mm a' }}
      p(ng-text-truncate="Note.content"
        ng-tt-chars-threshold="755"
        ng-tt-more-label="show more"
        ng-tt-less-label="show less"
      )

      .colors(ng-class="{ active: noteColors }" ng-mouseleave="noteColors = false")
        .color(
          ng-repeat="noteColor in vm.NoteColors"
          class="{{ noteColor }} color-{{ $index }} {{ ((Note.settings.color == noteColor) == true) ?'active' :'' }}"
          ng-click="vm.ChangeNoteColor(Note.metadata.note_id, Note.metadata.$id, noteColor); Note.settings.color = noteColor"
          title="{{ noteColor | capitalize : true }}"
        )

      div(class="mt+" style="flex-wrap: wrap; display: flex;" ng-if="vm.flags.tags")
        div(
          style="display: inline-block; margin: 6px 6px 0 0; background-color: rgba(0,0,0,0.08); border-radius: 2px; position: relative;"
          ng-repeat="tag in Note.metadata.tags")
          div(style="display: inline-block; align-items: center; padding: 5px 8px; text-align: left;")
            span(style="font-size: 11px; padding: 1px;") {{ tag | tagIt }}

      .sugg-icons-container(ng-hide="Note.is_shared_with")

        div(class="--is-mobile" flex-container="row" flex-align="flex-start center" style="margin-top: 20px; display: none;")
          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Change color"
            ng-click="noteColors =! noteColors"
            lx-size="l"
          )
            i.mdi.mdi-palette

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="{{ (Note.metadata.is_public || Note.metadata.share_with) ? 'Disable' : 'Enable' }} Share"
            ng-click="vm.ShareNote(Note)"
            lx-size="l"
          )
            i.mdi(class="mdi-account-multiple-{{ (Note.metadata.is_public || Note.metadata.share_with) ? 'minus' : 'plus' }}")

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Get shareable link"
            ng-if="Note.metadata.share_with"
            ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, true)"
            lx-size="l"
          )
            i.mdi(class="mdi-link")

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Get shareable link"
            ng-if="Note.metadata.is_public"
            ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, false)"
            lx-size="l"
          )
            i.mdi(class="mdi-link")

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Edit note"
            ng-click="vm.Edit(Note, false)"
            lx-size="l"
          )
            i.mdi(class="mdi-pencil")

        div(class="mt8 --is-desktop" flex-container="row" flex-align="flex-start center")
          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="Change color"
            ng-click="noteColors =! noteColors"
          )
            i.mdi.mdi-palette

          lx-button.mr8(
            lx-type="icon"
            lx-color="black"
            title="{{ (Note.metadata.is_public || Note.metadata.share_with) ? 'Disable' : 'Enable' }} Share"
            ng-click="vm.ShareNote(Note)"
          )
            i.mdi(class="mdi-account-multiple-{{ (Note.metadata.is_public || Note.metadata.share_with) ? 'minus' : 'plus' }}")

          lx-dropdown(lx-position="left" lx-over-toggle="true" lx-width="140")
            lx-dropdown-toggle
              lx-button(
                lx-color="black"
                lx-type="icon"
                title="More"
              )
                i.mdi.mdi-dots-vertical

            lx-dropdown-menu
              ul
                li(ng-hide="vm.CopyNotSupported"): a.dropdown-link(ng-click="vm.Copy(Note.content)") Copy to Clipboard
                li: a.dropdown-link.add-tag(ng-click="vm.ShowTags(Note, Note.metadata.tags)" ng-if="vm.flags.tags") Add Tag
                li: a.dropdown-link(ng-if="Note.metadata.share_with" ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, true)") Get shareable link
                li: a.dropdown-link(ng-if="Note.metadata.is_public" ng-click="vm.CopyShareLink(Note.$id, Note.metadata.$id, false)") Get shareable link
                li: a.dropdown-link(ng-click="vm.MakeCopy(Note)") Make a Copy
                li: a.dropdown-link(ng-click="vm.Edit(Note, false)") Edit note
                li: a.dropdown-link(ng-click="vm.Remove(Note, Note.metadata.note_id, Note.metadata.$id)") Delete note


lx-dialog(id="{{ vm.dialogShareId }}" lx-size="m" class="multi-share")
  lx-dialog-header(style="padding: 0 12px;")
    div.toolbar(class="dialog__header__content" style="padding: 12px 0;" flex-container="row")
      div(flex-item)
        h2(class="tc-black-1")
          strong Share

  lx-dialog-content
    lx-progress(lx-color="grey" lx-type="circular" lx-diameter="75" ng-if="vm.shareLoading")

    div(class="mt8" style="min-height: 100px !important")

      div.pt30(
        ng-if="!vm.currentUser.email"
        style="text-align: center; color: #000"
       )
        h2
          em private sharing on sugg is disabled. :(

      ul.list(ng-if="!vm.shareLoading && vm.currentUser.email")
        li.list-row
          div.list-row__primary
            lx-button(lx-type="icon" lx-size="l" lx-color="white")
              span(ng-if="!vm.Owner.image_url" style="font-weight: 600; font-weight: 600; font-size: 28px; background: #fff; color: #3c4859; display: block; text-align: center;") {{ vm.Owner.name | initials }}
              img.img-round(
                title="{{ vm.Owner.name }}"
                ng-if="vm.Owner.image_url"
                ng-src="{{ vm.Owner.image_url }}"
                alt="{{ vm.Owner.name }} Picture"
              )

          div.list-row__content
            span.display-block.tc-black-1
              strong {{ vm.Owner.name }}
              small  (Owner)
            span.display-block.fs-body-1.tc-black-2 {{ vm.Owner.email }}

        li.list-row(style="flex-wrap: wrap; mt+")
          div(ng-repeat="shared_with in vm.ShareWith" class="mt8")
            div.chip.chip--is-contact.chip--is-deletable.mr(
              ng-click="vm.RemoveShareWithUser(shared_with, vm.currentNote)")
              div.chip__contact
                span(ng-if="!shared_with.image_url" style="font-weight: 600; font-weight: 600; font-size: 28px; background: #fff; color: #3c4859; display: block; text-align: center;") {{ shared_with.name | initials }}
                img.img-round(
                  alt="{{ shared_with.name }} Picture"
                  ng-if="shared_with.image_url"
                  ng-src="{{ shared_with.image_url }}"
                  title="{{ shared_with.name }}"
                )

              span.chip__label {{ shared_with.name }}

        li.list-row
          lx-text-field(
            style="width: 88%; margin-left: auto; margin-right: 0"
            lx-label="Person or email to share with")
            input(type="text"
              ng-model="vm.selectedShareUser"
              ng-change="vm.findShareWithUser(vm.selectedShareUser)"
            )

  lx-dialog-footer
    div(style="position: absolute; left: 8px;")
      lx-button(
        lx-color="{{ vm.currentNote.metadata.is_public ? 'red' : 'blue' }}"
        lx-type="flat"
        lx-size="s"
        title="Make Public Note"
        ng-click="vm.GetShareLink(vm.currentNote, vm.currentNote.metadata.is_public)"
      ) {{ vm.currentNote.metadata.is_public ? 'Disable' : 'Enable' }} Public Share

    lx-button(
      lx-color="black"
      lx-type="flat"
      lx-size="s"
      lx-dialog-close
      title="Done Sharing"
      ng-click="vm.ShareWithUser(vm.addUser, vm.currentNote)"
    ) Done


lx-dialog(id="{{ vm.dialogEditId }}" lx-size="m" class="{{ vm.editNote.settings.color }}")
  lx-dialog-header
    div.toolbar(class="{{ vm.editNote.settings.color }} dialog__header__content")
      h2(class="tc-black-1")
        strong(
          ng-bind-html="vm.editNote.metadata.title || 'Untitled'"
          contenteditable="true"
          ng-model="vm.edited.title"
        )

  lx-dialog-content
    div.editor-wrap.note-container(style="min-height:200px")
      trix-editor.trix-content(
        angular-trix
        ng-model="vm.edited.content"
        ng-model-options="{ updateOn: 'blur' }"
        spellcheck="false"
        trix-initialize="vm.initializeEdit(e, editor);"
        prevent-trix-file-accept = "true"
        class="tc-black-1 dialog__body__content {{ vm.editNote.settings.color }}"
      )

  lx-dialog-footer(class="{{ vm.editNote.settings.color }}")
    h5.left.m10(class="tc-black-1")
      span.italic(
        title="Created {{ vm.editNote.metadata.created | date : 'MMM d, h:mm a' }}") Edited {{ vm.editNote.metadata.updated | date : 'MMM d, h:mm a' }}

    lx-button(
      lx-color="black"
      lx-type="flat"
      lx-size="s"
      lx-dialog-close
      title="Save Note"
      ng-click="vm.Edit(vm.editNote, true, vm.edited)"
    ) Done


lx-dialog(id="{{ vm.dialogTagId }}" lx-size="m")
  lx-dialog-header(style="padding: 0 12px;")
    div.toolbar(class="dialog__header__content" style="padding: 12px 0;" flex-container="row")
      div(flex-item)
        h2(class="tc-black-1")
          strong Edit Tags

  lx-dialog-content
    lx-progress(lx-color="grey" lx-type="circular" lx-diameter="75" ng-if="vm.shareLoading")

    div(class="mt8" style="min-height: 20px !important")
      ul.list(ng-if="!vm.shareLoading")
        li.list-row(style="flex-wrap: wrap; mt+")
          div(
            ng-repeat="noteTag in vm.NoteTags"
            class="mt8"
            ng-if="!vm.shareLoading"
          )
            div.chip.chip--is-deletable.mr(
              ng-click="vm.RemoveTag(vm.currentNote, noteTag)"
            )
              span.chip__label {{ noteTag.title }}

  lx-dialog-footer
    lx-button(
      lx-color="black"
      lx-type="flat"
      lx-size="s"
      lx-dialog-close
      title="Save Tags"
    ) Done