div.profile-main(flex-container="row" flex-column="12" flex-align="center center")

  div(class="p+")
    div.card
      div(flex-container="row")
        div(class="card__img card__img--left --is-desktop")
          span(ng-if="!vm.currentUser.image") {{ vm.currentUser.name | initials }}
          img(
            ng-if="vm.currentUser.image"
            ng-src="{{ vm.currentUser.image }}"
            alt="{{ vm.currentUser.name }} Profile Picture"
            lx-ripple
            title="{{ vm.currentUser.name }}")

        div(flex-item flex-container="column" style="font-size: 16px")
          div(flex-item)
            div(class="p+")
              lx-text-field(lx-label="Display name" ng-disabled="true")
                input(type="text" ng-model="vm.currentUser.name")

              lx-text-field(lx-label="Email" ng-disabled="vm.currentUser.email")
                input(type="email" ng-model="vm.currentUser.email")

              div(flex-container="row" flex-gutter="24" class="pt")
                span.p10(class="fs-body-2 tc-black-2 display-block") Joined
                  strong  {{ vm.currentUser.created | date : "MMM d, yyyy 'at' h:mm a"}}

                span.p10(class="fs-body-2 tc-black-2 display-block") Last Seen
                  strong(ng-if="vm.currentUser.updated")  {{ vm.currentUser.updated | date : "MMM d, yyyy 'at' h:mm a"}}
                  strong(ng-if="!vm.currentUser.updated")  Today

          div.text-right(class="card__actions")
            span.pr
              lx-button(
                lx-color="black"
                lx-type="flat"
                ng-click="vm.Logout()") Sign Out

            span.pr
              lx-button(
                ng-if="!vm.currentUser.email"
                lx-color="blue"
                lx-type="flat"
                ng-click="vm.IncludeEmail(vm.currentUser.$id, vm.currentUser.email)") Update

            span.pr(class="--is-desktop")
              lx-button(
                lx-color="red"
                lx-type="flat"
                ng-click="vm.Deactivate(vm.currentUser.$id)") Deactivate Account
